@import url(http://fonts.googleapis.com/css?family=Raleway:800,300);

* {
	margin: 0;
	padding: 0;
	color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    box-sizing: border-box;
    list-style-type: none;
}

html, body {
	height: 100%;
	color: #444;
	font-family: Raleway;
	font-weight: 800;
	font-size: 110%;
	letter-spacing: 1px;
}

body {
	
}

.content {

	> div {
		
	}
	#todoList {
		background: linear-gradient(#C9E5EF, aliceblue);
		min-height: 100vh;
		width: 30%;
		position: absolute;
		left: 0;
		bottom: 0;
		ul {
			position: absolute;
			bottom: 3.5em;
			li {
				padding: 1em;
			}
			li.addInput {
				padding: 0;
			}
		}
		input[name=todoName] {
			background: linear-gradient(135deg, #E7EFF6, rgba(255,255,255,.25));
			display: block;
			width: 100%;
			position: absolute;
			bottom: 0;
		}
	}
	.stats {
		// height: 100vh;
		background: white;
	}
}

input {
	background: none;
	border: none;
    padding:1em;
    &:focus {
    	cursor:default;
	    outline:none;
    }
    &::-webkit-input-placeholder {
    	color: inherit;
    	opacity: .25;
    }
}
